<!DOCTYPE html>
<html>
  <head>
    <title>Instapic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'bulma' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <div class="navbar-brand">
        <h2 class="title"><%= link_to "instaPic", root_path %></h2>
      </div>
      <% if current_user %>
        <div class="navbar-item">
          <%= link_to current_user, current_user %>
        </div>
        <div class="navbar-item">
          <%= link_to 'Log Out', :logout %>
        </div>
      <% else %>
        <div class="navbar-item">
          <%= link_to 'Log In', :login %>
        </div>
        <div class="navbar-item">
          <%= link_to 'Sign up', :signup %>
        </div>
      <% end %>
    </nav>
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
